# Ignorer des dossiers spécifiques (RELATIFS au repo)
Courses/NLAB/NLAB3/gmesh_source_code/

Courses/NLAB/NLAB3/SU2_source_code/

# Ignorer tous les fichiers d'un type particulier
*.log
*.tmp
*.pdf
*.png
*.jpeg
*.dat
*.gif
*.zip
*.npz
*.csv
*.vtk
*.xlsx
*.su2

# Ignorer un fichier précis

Project/CatalicitySurrogateModel/StaglineSurrogateModel/SM/SM_heatFlux
Project/MachineLearning/GeneticAlgorithm/KRGModel/SM_Gamma_Log
Project/MachineLearning/GeneticAlgorithm/KRGModel/SM_heatFlux
Project/MachineLearning/StaglineSurrogateModel/Models/SM_Gamma_Log
Project/MachineLearning/StaglineSurrogateModel/Models/SM_heatFlux
Project/MachineLearning/StaglineSurrogateModel/Models/SM_heatFlux_test
Courses/SP/Assignment/Mendez_part/SP_Assignment_Justin_Pesesse.pptx
Project/Stagline/test-cases/.svn/pristine/18/18c65fb32039cb92104e0861cbc993fcb9c35d97.svn-base
Project/Stagline/test-cases/.svn/pristine/98/981229b5a2cfdf6b01f037b211511d75a7ffc676.svn-base
Project/Stagline/tools/post_processor/StagLineSol.o
Project/Stagline/tools/post_processor/post_process.dSYM/Contents/Resources/DWARF/post_process
Project/Stagline/tools/post_processor/post_process.o
Project/MachineLearning/BayesianInversion/KRGModel/SM_Gamma_Log
Project/MachineLearning/BayesianInversion/KRGModel/SM_heatFlux
Courses/PCMAF/0DReactor_exe
Project/MachineLearning/BayesianInversion/Data_analysis/Results_Bayesian.pptx
Project/MachineLearning/BayesianInversion/New_Simulations/Mass_Flow_based_testing/UniformG_MultiCond_Pstat=100.0/MassFlow=10/Posteriors/Thinned_trace.nc
Project/MachineLearning/BayesianInversion/New_Simulations/Mass_Flow_based_testing/UniformG_MultiCond_Pstat=100.0/MassFlow=16/Posteriors/Thinned_trace.nc
Project/MachineLearning/BayesianInversion/New_Simulations/Mass_Flow_based_testing/UniformG_MultiCond_Pstat=100.0/MassFlow=20/Posteriors/Thinned_trace.nc
Project/MachineLearning/BayesianInversion/New_Simulations/Mass_Flow_based_testing/UniformG_MultiCond_Pstat=15.0/MassFlow=10/Posteriors/Thinned_trace.nc
Project/MachineLearning/BayesianInversion/New_Simulations/Mass_Flow_based_testing/UniformG_MultiCond_Pstat=15.0/MassFlow=16/Posteriors/Thinned_trace.nc
Project/MachineLearning/BayesianInversion/New_Simulations/Mass_Flow_based_testing/UniformG_MultiCond_Pstat=15.0/MassFlow=20/Posteriors/Thinned_trace.nc
Project/MachineLearning/BayesianInversion/New_Simulations/Mass_Flow_based_testing/UniformG_MultiCond_Pstat=200.0/MassFlow=20/Posteriors/Thinned_trace.nc
Project/MachineLearning/BayesianInversion/New_Simulations/Mass_Flow_based_testing/UniformG_MultiCond_Pstat=50.0/MassFlow=10/Posteriors/Thinned_trace.nc
Project/MachineLearning/BayesianInversion/New_Simulations/Mass_Flow_based_testing/UniformG_MultiCond_Pstat=50.0/MassFlow=16/Posteriors/Thinned_trace.nc
Project/MachineLearning/BayesianInversion/New_Simulations/Mass_Flow_based_testing/UniformG_MultiCond_Pstat=50.0/MassFlow=20/Posteriors/Thinned_trace.nc
Project/MachineLearning/BayesianInversion/Old_Simulations/Full_inputs_priors/NormalG_MultiCond_Pstat=100.0/Posteriors/Thinned_trace.nc
Project/MachineLearning/BayesianInversion/Old_Simulations/Full_inputs_priors/NormalG_MultiCond_Pstat=15.0/Posteriors/Thinned_trace.nc
Project/MachineLearning/BayesianInversion/Old_Simulations/Full_inputs_priors/NormalG_MultiCond_Pstat=50.0/Posteriors/Thinned_trace.nc
Project/MachineLearning/BayesianInversion/Old_Simulations/Full_inputs_priors/UniformG_MultiCond_Pstat=100.0/Posteriors/Thinned_trace.nc
Project/MachineLearning/BayesianInversion/Old_Simulations/Full_inputs_priors/UniformG_MultiCond_Pstat=15.0/Posteriors/Thinned_trace.nc
Project/MachineLearning/BayesianInversion/Old_Simulations/Full_inputs_priors/UniformG_MultiCond_Pstat=50.0/Posteriors/Thinned_trace.nc
Project/MachineLearning/BayesianInversion/Validation/Numerical_test_case/Posteriors/Thinned_trace.nc
Project/MachineLearning/BayesianInversion/Calibration_analysis/Gamma_models/GC_SSG.nc
Project/MachineLearning/BayesianInversion/Calibration_analysis/Gamma_models/GC_UG.nc
Project/MachineLearning/BayesianInversion/Calibration_analysis/Gamma_models/PBC_SSG_100mbar.nc
Project/MachineLearning/BayesianInversion/Calibration_analysis/Gamma_models/PBC_SSG_15mbar.nc
Project/MachineLearning/BayesianInversion/Calibration_analysis/Gamma_models/PBC_SSG_50mbar.nc
Project/MachineLearning/BayesianInversion/Calibration_analysis/Gamma_models/PBC_UG_100mbar.nc
Project/MachineLearning/BayesianInversion/Calibration_analysis/Gamma_models/PBC_UG_15mbar.nc
Project/MachineLearning/BayesianInversion/Calibration_analysis/Gamma_models/PBC_UG_50mbar.nc
Project/MachineLearning/BayesianInversion/Data_analysis/Final_calibration.pptx
Project/MachineLearning/BayesianInversion/Data_analysis/Results_Bayesian_Report.pptx
Project/MachineLearning/BayesianInversion/Simulations/Full_Cond_GN_GO/Dual_G/Posteriors/Thinned_trace.nc
Project/MachineLearning/BayesianInversion/Simulations/Full_Cond_GN_GO/Unit_G/Posteriors/Thinned_trace.nc
Project/MachineLearning/BayesianInversion/Simulations/Full_MF_GN_GO/UniformG_MultiCond_Pstat=100.0/MassFlow=10/Posteriors/Thinned_trace.nc
Project/MachineLearning/BayesianInversion/Simulations/Full_MF_GN_GO/UniformG_MultiCond_Pstat=100.0/MassFlow=16/Posteriors/Thinned_trace.nc
Project/MachineLearning/BayesianInversion/Simulations/Full_MF_GN_GO/UniformG_MultiCond_Pstat=100.0/MassFlow=20/Posteriors/Thinned_trace.nc
Project/MachineLearning/BayesianInversion/Simulations/Full_MF_GN_GO/UniformG_MultiCond_Pstat=15.0/MassFlow=10/Posteriors/Thinned_trace.nc
Project/MachineLearning/BayesianInversion/Simulations/Full_MF_GN_GO/UniformG_MultiCond_Pstat=15.0/MassFlow=16/Posteriors/Thinned_trace.nc
Project/MachineLearning/BayesianInversion/Simulations/Full_MF_GN_GO/UniformG_MultiCond_Pstat=15.0/MassFlow=20/Posteriors/Thinned_trace.nc
Project/MachineLearning/BayesianInversion/Simulations/Full_MF_GN_GO/UniformG_MultiCond_Pstat=50.0/MassFlow=10/Posteriors/Thinned_trace.nc
Project/MachineLearning/BayesianInversion/Simulations/Full_MF_GN_GO/UniformG_MultiCond_Pstat=50.0/MassFlow=16/Posteriors/Thinned_trace.nc
Project/MachineLearning/BayesianInversion/Simulations/Full_MF_GN_GO/UniformG_MultiCond_Pstat=50.0/MassFlow=20/Posteriors/Thinned_trace.nc
Project/MachineLearning/BayesianInversion/Simulations/Full_Pstat_GN_GO/UniformG_MultiCond_Pstat=100.0/Posteriors/Thinned_trace.nc
Project/MachineLearning/BayesianInversion/Simulations/Full_Pstat_GN_GO/UniformG_MultiCond_Pstat=15.0/Posteriors/Thinned_trace.nc
Project/MachineLearning/BayesianInversion/Simulations/Full_Pstat_GN_GO/UniformG_MultiCond_Pstat=50.0/Posteriors/Thinned_trace.nc
Project/MachineLearning/BayesianInversion/Simulations/Full_Pstat_Unit_G/UniformG_MultiCond_Pstat=100.0/Posteriors/Thinned_trace.nc
Project/MachineLearning/BayesianInversion/Simulations/Full_Pstat_Unit_G/UniformG_MultiCond_Pstat=15.0/Posteriors/Thinned_trace.nc
Project/MachineLearning/BayesianInversion/Simulations/Full_Pstat_Unit_G/UniformG_MultiCond_Pstat=50.0/Posteriors/Thinned_trace.nc
Project/MachineLearning/BayesianInversion/Validation/Numerical_test_case_15mbar/Posteriors/Thinned_trace.nc
Project/MachineLearning/BayesianInversion/Validation/Numerical_test_case_50mbar/Posteriors/Thinned_trace.nc
